{% extends "base.html.twig" %}

{% block content %}
  <section class="section-figure">
    <div class="content content-full">
      <div class="large-form">
        <h1>Ajout d'une figure</h1>
        <p class="instruction">Merci de remplir tous les champs ci-dessous</p>

        {{ include('form.html.twig', {'form': form}) }}

      </div>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/image_form_adder.js') }}"></script>
  <script src="{{ asset('js/video_form_adder.js') }}"></script>
{% endblock %}
