{% extends "base.html.twig" %}

{% block content %}

  <h2>Entrez votre nouveau mot de passe.</h2>

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit">Envoyer</button>
  {{ form_end(form) }}

{% endblock %}