{% extends "base.html.twig" %}

{% block content %}
  <div class="content-full">
    <div class="login-form">
      <div class="form-group">
        <a href="{{ path('login') }}">Cliquez maintenant pour vous connecter.</a>
      </div>
    </div>
  </div>
{% endblock %}
