{% extends "base.html.twig" %}

{% block content %}

  {# Message Flash #}
  {% for messages in app.session.flashbag.all %}
    <div class="alert alert-success">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endfor %}

  {# LISTE DES FIGURES #}
  <div id="trick_list"></div>

  {# PAGINATION #}
  <div id="paginator" class="pagination"></div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/jquery.twbsPagination.js') }}"></script>
  <script src="{{ asset('js/paginator.js') }}"></script>
{% endblock %}