{% extends "base.html.twig" %}

{% block content %}

  {# LISTE DES FIGURES #}
  <div id="trick_list"></div>

  {# PAGINATION #}
  <div id="paginator" class="pagination"></div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/jquery.twbsPagination.js') }}"></script>
  <script src="{{ asset('js/paginator.js') }}"></script>
{% endblock %}
