{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }} - Profil
{% endblock %}

{% block content %}
  <section class="section-figure">
    <div class="content-full">
      <div class="login-form">
        <h1>Informations du profil</h1>

        {{ include('form.html.twig', {'form': form}) }}

        <div class="lost-pass">
          Mot de passe perdu ? <a href="{{ path('retrieve') }}">Récupérer mon mot de passe</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
