{% extends "base.html.twig" %}

{% block content %}
  <section class="section-figure">
    <div class="content-full">
      <div class="login-form">
        <h1>Inscription</h1>
        <p class="instruction">Merci de remplir tous les champs ci-dessous</p>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-default">Envoyer</button>
        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}
