{% extends "base.html.twig" %}

{% block content %}
  <section class="section-figure">
    <div class="content-full">
      <div class="login-form">
        <h1>Inscription</h1>
        <p class="instruction">Merci de remplir tous les champs ci-dessous</p>

        {{ include('form.html.twig', {'form': form}) }}

      </div>
    </div>
  </section>
{% endblock %}
