{% extends "base.html.twig" %}

{% block content %}
  <section class="section-figure">
    <div class="content-full">
      <div class="login-form">
        <h1>Réinitialisation du&nbsp;mot&nbsp;de&nbsp;passe</h1>
        <p class="instruction">
          Indiquer votre adresse email ci-dessous. Vous recevrez un message, veuillez en suivre les instructions.
        </p>

        {{ include('form.html.twig', {'form': form}) }}

      </div>
    </div>
  </section>
{% endblock %}
